body, html {
    overflow-x: hidden;  /* Prevent horizontal scrolling */
}

body {
    background: #ba191b;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
    color: #c7c3c3;
    font-weight: bold; /* Poppins bold for Scoreboard */
    font-size: 2.5rem;
    text-align: center; /* Center the "Scoreboard" text */
    font-family: 'Poppins', sans-serif; /* Apply Poppins font */
}

.blurb p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
}

.blockquote {
    font-size: 12.5px;
    color: #c7c3c3;
}

.blockquote-footer {
    padding-left: 130px;
    color: #c7c3c3;
}
#year{
    padding-right: 120px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}

#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 2.5rem;
    text-align: center;
    font-family: "Pocerus", sans-serif;
    font-weight: bold;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#mainNavbar .navbar-brand img {
    width: 85px;
    height: auto;
}

#headerg span {
    color: #ea1c2c;
}

#headerg h1 {
    font-weight: 100;
    font-size: 3rem;
    text-align: center;
}

.navbar.scrolled {
    background-color: #c7c3c3;
    transition: background 500ms;
}

table {
    width: 100%; /* Ensure table takes full width */
    margin-top: 20px; /* Add margin for spacing */
    font-family: 'Poppins', sans-serif; /* Set Poppins font for the table */
    font-size: 1.125rem; /* Set a good font size */
    text-align: center; /* Center the table content */
    margin-bottom: 20px; /* Add some margin below the table */
}

table th, table td {
    color: #c7c3c3;
    padding: 15px; /* Add padding for better spacing */
}

table td:first-child {
    text-align: left; /* Align the first column (Year) to the left */
}

@media(max-width: 1200px) {
    #headerg h1 {
        font-weight: 100;
        font-size: 2rem;
    }

    #mainNavbar .navbar-brand {
        padding-top: 25px;
        font-size: 2.5rem;
    }
}
