body {
    background: #ba191b;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
    color: #EA1C2C;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}

#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 2.5rem;
    text-align: center;
    font-family: "Pocerus", sans-serif;
    font-weight: bold;
    font-style: italic;
    display: block;
    margin: 0 auto;
}

#headerg span {
    color: #ea1c2c;
}

#headerg h1 {
    font-weight: 100;
    font-size: 3rem;
    text-align: center;
}

.navbar.scrolled {
    background-color: #c7c3c3;
    transition: background 500ms;
}

@media(max-width: 1200px) {
    #headerg h1 {
        font-weight: 100;
        font-size: 2rem;
    }
}
